body, html {
    height: fit-content;
    margin: 0%;
    padding: 0%;
}
.est-5 {
    height: 5vh;
}
.est-10 {
    height: 10vh;
}
.est-20 {
    height: 20vh;
}
.est-80 {
    height: 80vh;
}
.est-90 {
    height: 90vh;
}
.est-70 {
    height: 70vh;
}
.est-75 {
    height: 75vh;
}
.est-25 {
    height: 25vh;
}
.est-100 {
    height: 100vh;
}
.min-est-100 {
    min-height: 100vh;
}
.min-est-90 {
    min-height: 90vh;
}