body {
    margin: 0;
    padding: 0;
    background-color: rgb(248, 253, 253);

}

.centraliza-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.chapter-boot {
    height: 590px;
    /* background-color: chocolate; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.relatorio-boot {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: darkgreen; */
}
.teste {
    width: 500px;
    height: 500px;
    display: none;
}

.chapter-container {
    width: 325px;
    height: 425px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -5px 10px 10px rgb(95, 93, 93);
}

.chapter-extremidade {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.texto {
    flex-direction: column;
}
.formulario {
    height: 400px;
}
.label-holder, .input-holder {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}
.label-holder {
    height: 25px;
}
.input-holder {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputBasico {
    height: 40px;
    width: 100%;
    border: 1px solid black;
}
.inputBasicoCheck {
    height: 25px;
    width: 25px;
}
.checkbox-holder {
    width: 16%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.remember-holder {
    width: 86%;
    height: 100%;
    display: flex;
    align-items: center;
}

.chapter-conteudo {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p {
    margin: 0;
}

.organiza-info {
    display: flex;
    flex-direction: column;
}
.container-formulario {
    height: 100%;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-erro {
    display: none;
    height: 20%;
    justify-content: center;
    align-items: center;
    /* background-color: chocolate; */
}
.inputSenha {
    width: 85%;
    border-right: 0px;
}
.see-holder {
    height: 40px;
    width: 15%;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-left: 0px;
}
.ver-icon {
    width: 25px;
    height: 25px;
}
.btn-form {
    width: 125px;
}

#emissao {
    margin-right: 10px;
    height: 30px;
}

#atualizacao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.reset-icon {
    width: 20px;
    height: 20px;
}
